{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-warning mb-5 border-bottom">PYTHON DEVELOPER</h1>

    <div class="row text-center text-dark mb-5">
        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-laptop-code fa-3x mt-4 mb-3 text-success"></i>
                <h3 class="card-title">Web Development</h3>
                <p class="card-text">Crafting dynamic and responsive web applications using Python, Django, and Flask to deliver seamless user experiences.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-database fa-3x mt-4 mb-3 text-primary"></i>
                <h3 class="card-title">Data Analysis</h3>
                <p class="card-text">Utilizing Python's data science libraries to analyze and derive insights from complex datasets for informed decision-making.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-cogs fa-3x mt-4 mb-3 text-warning"></i>
                <h3 class="card-title">Automation</h3>
                <p class="card-text">Implementing efficient automation solutions with Python to streamline processes and enhance workflow productivity.</p>
            </div>
        </div>
    </div>

    <div class="row text-center text-dark mb-5">
        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-chart-line fa-3x mt-4 mb-3 text-info"></i>
                <h3 class="card-title">Machine Learning</h3>
                <p class="card-text">Applying machine learning algorithms with Python to build intelligent systems that adapt and improve over time.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-lock fa-3x mt-4 mb-3 text-danger"></i>
                <h3 class="card-title">Security Solutions</h3>
                <p class="card-text">Implementing robust security measures using Python to ensure the confidentiality and integrity of sensitive data.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-white">
                <i class="fas fa-comments fa-3x mt-4 mb-3 text-secondary"></i>
                <h3 class="card-title">Collaboration</h3>
                <p class="card-text">Collaborating seamlessly with cross-functional teams, fostering innovation, and delivering high-quality Python solutions.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
